@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
}


.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 900;
  font-style: bold;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInFromRight 1.2s ease-out forwards;
}
@font-face {
  font-family: "Noxa Gothic";
  src: url("/noxa-gothic/NoxaGothicDemoVersion-Regular.otf")  format('truetype'),
       url("/noxa-gothic/NoxaGothicDemoVersion-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.creepster-regular {
     
      font-family: "Noxa Gothic";
    }
    @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
.pause-animation {
  animation-play-state: paused;
}
@keyframes testimonialScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-testimonial {
  animation: testimonialScroll 30s linear infinite;
}
